<form [formGroup]="form" (ngSubmit)="save(form.value)">
  <div class="px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column lg:flex-row">
      <div class="surface-ground p-5 shadow-2 border-round flex-auto">
        <div class="text-900 font-semibold text-lg mt-3">
          {{ formType | titlecase }} Info
        </div>
        <p-divider></p-divider>
        <div class="flex gap-5 md:flex-row">
          <div class="flex flex-column align-items-center">
            <p-avatar
              *ngIf="!form.controls['avatar'].value"
              icon="pi pi-user"
              styleClass="mr-2"
              size="xlarge"
              shape="circle"
            ></p-avatar>
            <img
              *ngIf="form.controls['avatar'].value"
              [src]="form.controls['avatar'].value"
              style="border-radius: 100%"
            />
            <button
              pButton
              pRipple
              label="Edit"
              type="button"
              icon="pi pi-user-edit"
              class="mt-2"
              (click)="displayEditor = true"
            ></button>
          </div>
          <div class="formgrid grid w-full">
            <div
              class="field col-12 md:col-2 md:col-offset-1"
              *ngIf="formType === 'teacher'"
            >
              <label for="title" class="block font-medium text-900">
                Title</label
              >
              <p-dropdown
                [options]="titles"
                placeholder="Select"
                formControlName="title"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['title'].valid &&
                    form.controls['title'].touched
                }"
              ></p-dropdown>
            </div>
            <div
              class="field col-12 md:col-4"
              [ngClass]="{ 'md:col-5 md:col-offset-1': formType === 'student' }"
            >
              <label for="firstName" class="block font-medium text-900"
                >First Name</label
              >
              <input
                pInputText
                formControlName="firstName"
                class="p-inputtext p-comment w-full"
                [value]="form.controls['firstName'].value | titlecase"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['firstName'].valid &&
                    form.controls['firstName'].touched
                }"
                type="text"
              />
            </div>
            <div
              class="field col-12 md:col-4"
              [ngClass]="{ 'md:col-5': formType === 'student' }"
            >
              <label for="lastName" class="block font-medium text-900"
                >Last Name</label
              >
              <input
                pInputText
                formControlName="lastName"
                class="p-inputtext p-comment w-full"
                [value]="form.controls['lastName'].value | titlecase"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['lastName'].valid &&
                    form.controls['lastName'].touched
                }"
                type="text"
              />
            </div>
            <div
              class="field col-12"
              [ngClass]="{
                'md:col-4 md:col-offset-3': formType === 'teacher',
                'md:col-5 md:col-offset-1': formType === 'student'
              }"
            >
              <label for="grade" class="block font-medium text-900"
                >Grade</label
              >
              <p-dropdown
                [options]="grades"
                placeholder="Select"
                formControlName="grade"
                optionLabel="description"
                optionValue="gradeId"
                [style]="{ width: '100%' }"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['grade'].valid &&
                    form.controls['grade'].touched
                }"
              ></p-dropdown>
            </div>
            <div class="field col-12 md:col-4" *ngIf="formType === 'teacher'">
              <label for="classSize" class="block font-medium text-900"
                >Class Size</label
              >
              <p-inputNumber
                formControlName="classSize"
                mode="decimal"
                [showButtons]="true"
                [ngClass]="{'ng-dirty ng-invalid': !form.controls['classSize'].valid && form.controls['classSize'].touched}"
              ></p-inputNumber>
              <small
                *ngIf="form.controls['classSize'].touched && form.controls['classSize'].hasError('min')"
                class="p-error block ml-3"
                >Value must be > 0</small
              >
              <small
                *ngIf="form.controls['classSize'].hasError('max')"
                class="p-error block ml-3"
                >Value must be <= 20</small
              >
            </div>
            <div class="field col-12 md:col-5" *ngIf="formType === 'student'">
              <label for="teacher" class="block font-medium text-900"
                >Teacher</label
              >
              <input
                pInputText
                formControlName="teacher"
                placeholder="Teacher"
                type="text"
                class="p-inputtext p-component"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['teacher'].valid &&
                    form.controls['teacher'].touched
                }"
              />
            </div>
            <div
              class="field col-12"
              [ngClass]="{
                'md:col-4 md:col-offset-3': formType === 'teacher',
                'md:col-5 md:col-offset-1': formType === 'student'
              }"
            >
              <label for="phone" class="block font-medium text-900"
                >Phone #</label
              >
              <p-inputMask
                formControlName="phone"
                mask="999-999-9999"
                placeholder="999-999-9999"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['phone'].valid &&
                    form.controls['phone'].touched
                }"
              ></p-inputMask>
            </div>
            <div
              class="field col-12"
              [ngClass]="{
                'md:col-4': formType === 'teacher',
                'md:col-5': formType === 'student'
              }"
            >
              <label for="email" class="block font-medium text-900"
                >Email</label
              >
              <input
                pInputText
                type="email"
                formControlName="email"
                class="p-inputtext p-component"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    !form.controls['email'].valid &&
                    form.controls['email'].touched
                }"
              />
            </div>
          </div>
        </div>
        <div class="flex justify-content-center mt-4">
          <button
            pButton
            pRipple
            label="Save"
            type="submit"
            icon="pi pi-check"
            class="mx-2"
            [disabled]="form.invalid"
          ></button>
          <button
            pButton
            pRipple
            *ngIf="loggedInUser"
            label="Delete"
            type="button"
            icon="pi pi-trash"
            class="p-button-danger mx-2"
            (click)="delete()"
          ></button>
          <button
            pButton
            pRipple
            label="Cancel"
            type="button"
            icon="pi pi-times"
            class="p-button-secondary mx-2"
            (click)="close()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</form>
<sr-photo-editor
  [displayEditor]="displayEditor"
  (close)="displayEditor = false"
  (croppedImg)="updateImg($event)"
></sr-photo-editor>
