<div class="flex flex-column">
  <h1 class="my-3 text-center">{{ teacherName }}'s Class</h1>
  <section class="flex justify-content-center">
    <div class="w-6">
      <div class="card">
        <p-virtualScroller
          [value]="students"
          scrollHeight="300px"
          [itemSize]="130"
        >
          <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-start flex-wrap">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange()" [style]="{'min-width': '10em'}"></p-dropdown>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-student>
            <div class="student-details">
              <div class="avatar">
                <p-avatar
                  *ngIf="!student.avatar"
                  icon="pi pi-user"
                  size="large"
                  shape="circle"
                ></p-avatar>
                <img *ngIf="student.avatar" [src]="student.avatar" />
              </div>
              <div class="student-name">
                {{ student.firstName }} {{ student.lastName }}
              </div>
              <div class="student-info">
                <button
                  pButton
                  pRipple
                  type="button"
                  class="p-button-raised p-button-rounded"
                  label="Student Info"
                  (click)="openStudentInfo(student)"
                >
                  <fa-icon
                    [icon]="faBookReader"
                    style="margin-right: 10px"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </ng-template>
        </p-virtualScroller>
      </div>
    </div>
  </section>
  <section class="flex justify-content-center gap-4 mb-4">
    <button
      pButton
      pRipple
      type="button"
      class="p-button-raised p-button-rounded"
      (click)="registerStudent()"
    >
      <fa-icon [icon]="faBookReader" class="mx-2"></fa-icon>
      Register Student
    </button>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-raised p-button-rounded ml-5"
      icon="pi pi-home"
      label="Home"
      (click)="home()"
    ></button>
  </section>
</div>
