<div class="m-2">
  <h1 class="text-center">Local Elementary</h1>
  <section class="mt-3 lg:mt-7">
    <h2 class="text-center">Welcome!</h2>
    <p class="text-center w-6 mt-3 mx-auto text-xl line-height-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum voluptas ad eum consequuntur, sit dignissimos neque suscipit tempore velit inventore quo sed? Natus dicta molestiae saepe, consequatur tenetur provident.
    </p>
    <p class="text-center w-6 mt-3 mx-auto text-xl line-height-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum voluptas ad eum consequuntur, sit dignissimos neque suscipit tempore velit inventore quo sed? Natus dicta molestiae saepe, consequatur tenetur provident.
    </p>
  </section>
  <section class="flex flex-column">
    <div class="flex justify-content-center my-4">
      <button pButton pRipple type="button" class="p-button-raised p-button-rounded p-button-lg" [routerLink]="['/teachers']">All Teachers</button>
    </div>
    <div class="flex justify-content-center my-4">
      <button pButton pRipple type="button" class="p-button-raised p-button-rounded" [routerLink]="['/student']">
        <fa-icon [icon]="faBookReader" class="mx-2"></fa-icon>
        Register Student
      </button>
    </div>
  </section>
</div>
